{% extends "global/base.html" %}

{% block content %}

<div class="form-wrapper">
    <h2>Criar Contato</h2>

    <!-- enctype serve para indicar que o formulário pode enviar arquivos, como imagens ou documentos. -->
    <form action="{% url 'contact:create' %}" method="POST" enctype="multipart/form-data">
        <!-- proteção contra ataques CSRF (Cross-Site Request Forgery) -->
        {% csrf_token %}
        <table>
            
        </table>
        <button class="btn" type="submit">Criar</button>
    </form>
</div>

{% endblock content %}